* {

    margin: 0;
    padding: 0;

}

    .clearfix {

        clear: both;
    }
.container {

    width: 960px;
    margin: 0 auto;
    background: #777;
    overflow: hidden;
    
}

 header  {
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    text-align: center;
    height: 100px;
    width:  900px;
    background: #ebebeb;
    margin: 0 auto;
}

 nav  {
   
   
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    text-align: center;
    height: 100px;
    width: 900px;
    background: #ebebeb;
    margin: 0 auto;
    
}

section {

    color: #777;
    margin-top: 20px;
    margin: 20px;
    width: 400px;
    height: 700px;
    text-align: center;
    background: #ebebeb;
    float: left;
}

aside { 

    color: #777;
    margin-top: 20px;
    width: 400px;
    height: 700px;
    text-align: center;
    background: #ebebeb;
    float: left;


}

footer {

    color: #777;
    background: #ebebeb;
    text-align: center;
    margin: 10px auto;


}